
.popup div p{
   display: inline;
   font-family: Lato;
}

/***********************/


@font-face{
   font-family: bebasNeue;
   src: url(../fonts/BebasNeue-Regular.otf);
}

html{
   box-sizing: border-box;

}
*, *:before, *:after{
   box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
   font-family: bebasNeue;
}

#infohead{
  text-align: center;
}

.header{
   width: 100%;
   height: 50vh;
   display: flex;
   position: relative;
   top: 0;
}

.header h1{
   color: rgba(0,0,0,1);
   padding: 5vh 0 0 0;
   font-size: 7vw;
   text-align: center;
   width: 100%;
   letter-spacing: 4px;
}


/* Image Source: https://www.mbta.com/schedules/subway */
.background_map{
   width: 100%;
   background: url(../images/MBTA_Crop.png) 100% 10%;
   object-fit: fill;
   opacity: .30;
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

p{
   font-family: Lato;
}

a{
   text-decoration: none;
   color: #000;
}

.intro{
   text-align: center;
   margin: 60px 10% 0 10%;
}

.buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 60px;
}

button{
   background-color: #14B71C;
   color: white;
   border-radius: 15px;
   border: 0px;
   height: 5em;
   width: 18em;
   margin: 10px;
   box-shadow: 6px 6px 0px #555;
   font-weight: bold; 
}

.button_2{
   background-color: #00009C; 
}

.green-1{
   background-color: #0C8A16;
}

.green-2{
   background-color: #14B71C;
}

.green-3{
   background-color: #169A66;
}

.instructions-title{
   text-align: center;
   color: #FFF;
   font-family: bebasNeue;
   font-size: 5em;
}

.instructions-box{
   width: 90%;
   height: auto;
   background-color: #FFF;
   box-shadow: 6px 6px 0px #555;
   padding: 1em 2em 1em 2em;
}

.flex-center{
   display: flex;
   justify-content: center;
}

circle:hover {
   stroke: lightgrey;
   stroke-width:2px;
   stroke-linejoin: round;
   fill: lightgrey;
   cursor: pointer;
}

ellipse:hover {
   stroke: lightgrey;
   stroke-width:2px;
   stroke-linejoin: round;
   fill: lightgrey;
   cursor: pointer;
}
/* #path67 {
fill: none !important;
stroke: #A9A9A9 !important;
cursor: default;
} */
#info-box {
   display: none;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 1;
   background-color: #ffffff;
   border: 2px solid #14B71C;
   border-radius: 5px;
   padding: 5px;
   font-family: Lato;
}

.logo{
  position: absolute;
  top: 1em;
  left: 0px;
   padding: 0 1em .5em 1em;
   width: 16em;
}

.header_map{
   font-size: 1.3em;
   width: 100%;
}

.header_map p{
   text-align: center;
   margin: 0;
   padding: .3em 0;
}

footer{
   display: flex;
   justify-content: center;
   color: #FFF;
   background-color: #0C8A16;
}

/* Border around the screen*/ 
/* Original Source: https://css-tricks.com/body-border/*/
.top, .bottom, .left, .right{
   background: #0C8A16;
   position: fixed;
}
.left, .right{
   top: 0; bottom: 0;
   width: 10px;
}
.left{ 
   left: 0; 
}
.right{ 
   right: 0; 
}

.top, .bottom{
   left: 0; right: 0;
   height: 10px;
}

.top{ 
   top: 0; 
}

.bottom{ 
   bottom: 0;
}

/* Original Source: https://codepen.io/anon/pen/EGvKZW */
/****************   Popup Overlay   ******************/

.overlay_pop{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
   z-index: 1000; /* Make it above the hamburger nav */
}
.overlay_pop:target {
   visibility: visible;
   opacity: 1;
}

.popup {
   margin: 30px auto;
   padding: 20px;
   background: #fff;
   border-radius: 10px;
   width: 95%;
   position: relative;
   transition: all 5s ease-in-out;
}

.popup .close {
   position: absolute;
   top: 20px;
   right: 15px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}

.popup-imgs{
   display: grid;
   width: 95%;
   grid-template-columns: repeat(1, 45%);
   grid-template-rows: repeat(auto);
   justify-items: center; /* Horizontal */
   align-items: center; /* Vertical */
   justify-content: space-evenly;
   margin-bottom: 1em;
}

.popup-imgs img{
   width: 100%;
   max-height: 350px;
}

.popup div p{
   padding: 0 5% 0 2%;
}



/************************** Hamburger Nav ******************************/
/* Original Source: https://codepen.io/PaulVanO/pen/XJYGNQ */

.button_container {
   position: relative;
   top: 2.5em;
   left: 90%;
   height: 2.3em;
   width: 3em;
   z-index: 100;
   transition: opacity 0.25s ease;
}

.button_container:hover {
   opacity: 0.8;
}

.button_container.active{
   position: fixed;
}

.button_container.active .top {
   transform: translateY(13px) translateX(0) rotate(45deg);
   background: #FFF;
}

.button_container.active .middle {
   opacity: 0;
   background: #FFF;
}

.button_container.active .bottom {
   transform: translateY(-13px) translateX(0) rotate(-45deg);
   background: #FFF;
}

.button_container span {
   background: #000;
   border: none;
   height: 7px;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: all 0.35s ease;
   cursor: pointer;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border-radius: 20px;
}

.button_container span:nth-of-type(2) {
   top: 12.5px;
}

.button_container span:nth-of-type(3) {
   top: 26.5px;
}

.overlay {
   position: fixed;
   background: #0C8A16;
   top: 0;
   left: 65%;
   width: 35%;
   height: 0%;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.35s, visibility 0.35s, height 0.35s;
   overflow: hidden;
   z-index: 80;
}

.overlay.open {
   opacity: 1;
   visibility: visible;
   height: 100%;
}

.overlay.open li {
   animation: fadeInRight 0.5s ease forwards;
   animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
   animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
   animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
   animation-delay: 0.5s;
}

.overlay nav {
   position: relative;
   height: 70%;
   top: 45%;
   transform: translateY(-50%);
   font-size: 50px;
   font-weight: 400;
}

.overlay ul {
   list-style: none;
   padding: 0;
   margin: 0 auto;
   display: inline-block;
   position: relative;
   height: 100%;
   width: 100%;
}

.overlay ul li {
   display: block;
   height: 25%;
   height: calc(100% / 4);
   min-height: 45px;
   position: relative;
   opacity: 0;
   float: none;
}

.overlay ul li a {
   display: block;
   position: relative;
   color: #FFF;
   text-decoration: none;
   overflow: hidden;
   font-size: 26px;
   text-align: center;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
   width: 100%;
}

/* Using content="" creates an underline when hovered over */
.overlay ul li a:after {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 0%;
   transform: translateX(-50%);
   height: 3px;
   background: #FFF;
   transition: 0.35s;
}

.overlay-menu{
   background-color: #0C8A16;
}

nav{
   box-shadow: none;
}

.overlay-menu a{
   height: 100%;
}

@keyframes fadeInRight {
   0% {
      opacity: 0;
      left: 20%;
   }
   100% {
      opacity: 1;
      left: 0;
   }
}

.stop-menu{
   display:none;
}

/************************** Mobile Stuff *****************/

/* Phone */
@media only screen and (max-width: 500px) {

   .header h1{
      font-size: 10vw;
      padding: 15vh 0 0 0;
   }

   .logo{
      width: 12em;
   }

   .background_map{
      background: url(../images/MBTA_Crop.png) 20% 40%;
   }

   .button_container{
      left: 80%;
   }

   .overlay {
      left: 0;
      width: 100%;
      display: block;
   }
   
   .popup-imgs{
      grid-template-columns: repeat(1, 85%);
   }



}

@media only screen and (max-width: 765px) {
   .stop-menu{
      display: flex;
   }

  .grid-container{
    display: grid;
    grid-template-columns: 13em;
    grid-template-rows: 8em 8em;
    top: 25em;
  }

  .stop-button{
    background-color: #96e0c1;
    color: black;
    border-radius: 0px;
    border: 0px;
    height: 5em;
    width: 100%;
    margin: 5px;
    box-shadow: none;
    font-weight: bold; 
  }

  .instruction-box{
    padding-left: 1em;
    padding-right: 1em;
  }

  svg{
    display: none;
   }

  .time-save-display{
    font-size: 1em;
  }

  .stop-menu{
    display: flex;
    flex-direction: column;
  }
 
 input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: bebasNeue;;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;

  padding: 1em;

  color: #0a4930;
  background: #169A66;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #073321;
}

.content-inner p{
  text-align: center;
}

.collapsible-content .content-inner {
  background: #71c4a1;
/*  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;*/
  padding: .5em 0;
   padding-right: .6em;
}

.collapsible-content {
  max-height: 0px;
  border-color: #2a4c3e;
  margin-bottom: 0.1em;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1000px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
}

/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 1024px) {



}

