@font-face{
  font-family: bebasNeue;
  src: url(../fonts/BebasNeue-Regular.otf);
}

html{
	box-sizing: border-box;

}
*, *:before, *:after{
  	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
   font-family: bebasNeue;
}

.header{
	width: 100%;
	height: 50vh;
	display: flex;
    position: relative;
    top: 0;
}

.header h1{
	color: rgba(0,0,0,1);
    padding: 5vh 0 0 0;
    font-size: 6vw;
    text-align: center;
    width: 100%;
}

.background_map{
   width: 100%;
   background: url(../images/MBTA_Crop.png) 100% 10%;
   object-fit: fill;
   opacity: .35;
   position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p{
   font-family: Lato;
}

a{
   text-decoration: none;
   color: #000;
}

.intro{
	text-align: center;
	margin: 60px 10% 0 10%;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 60px;
}

button{
	background-color: #14B71C;
	color: white;
	border-radius: 15px;
    border: 0px;
	height: 5em;
	width: 18em;
	margin: 10px;
	box-shadow: 6px 6px 0px #555;
    font-weight: bold; 
}

.green-1{
   background-color: #0C8A16;
}

.instructions-title{
   text-align: center;
   color: #FFF;
   font-family: bebasNeue;
   font-size: 5em;
}

.instructions-box{
   width: 90%;
   height: auto;
   background-color: #FFF;
   box-shadow: 6px 6px 0px #555;
   padding: 1em 2em 1em 2em;
}

.flex-center{
   display: flex;
   justify-content: center;
}



/*.st1:hover {
    fill: #a9a9a9;
    opacity: 0.6;
  }
*/
circle:hover {
  stroke: lightgrey;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: lightgrey;
  cursor: pointer;
}
/* #path67 {
  fill: none !important;
  stroke: #A9A9A9 !important;
  cursor: default;
} */
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

#Hynes::after{
   content: '';
   display: block;
   width: 100px;
   height: 100px;
   background-color: #999;
}

#Hynes:hover{
   
}


/* Mobile */
@media only screen and (max-width: 500px) {

   .header h1{
      font-size: 10vw;
      padding: 15vh 0 0 0;
   }
   
   .background_map{
      background: url(../images/MBTA_Crop.png) 20% 40%;
   }
   
}

/* Mobile */
@media only screen and (min-width: 501px) and (max-width: 1024px) {


}




